{% extends 'listings/base.html' %}

{% block content %}

<h2>{{ annonce.title }}</h2>

<ul>
    <li>Crée le : {{ annonce.date_creation }}</li>
    <li>Type :  {{ annonce.get_type_display }}</li>
    <li>Prix : {{ annonce.price }}</li>
    <li><a href="{% url 'band-detail' annonce.band.id %}">Groupe : {{ annonce.band.name }}</a></li>
    
</ul>

<p>{{ annonce.description }}</p>




<a href="{% url 'annonce-update' annonce.id %}">Modifier cette annonce</a>
<br>
<li><a href="{% url 'liste_annnoces' %}">Retour aux annonces</a></li>

{% endblock %}