{% extends 'listings/base.html' %}

{% block content %}
        <h1>Les annonces du site !</h1>
        <ul>
            {% for annonce in lists %}
            <li><a href="{% url 'annonce-details' annonce.id %}">{{ annonce.title }}</a>
                - <a href="{% url 'annonce-update' annonce.id %}">[modifier]</a>
                - <a href="{% url 'annonce-delete' annonce.id %}">[Supprimer]</a>
            </li>
            {% endfor %}
        </ul>

        <a href="{% url 'listing-create' %}">Créer une nouvelle annonce</a>
{% endblock %}